{% extends "base.html" %}

{% block content %}
	<form class="form-horizontal" action="" method="POST">
	    <legend><span  class="col-sm-offset-6">Add company</span></legend>
		{% csrf_token %} 
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
		{% if field.errors %}
		    <ol>
		    {% for error in field.errors %}
		        <li><strong>{{ error|escape }}</strong></li>
		    {% endfor %}
		    </ol>
		{% endif %}
		<fieldset class="form-group" >
		  <label class="col-lg-3 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="col-lg-8 ">
		      <input type="text" class="form-control"
		        name="{{ field.name }}"
		        id="id_{{ field.name }}"
		        value="{{ field.value|default_if_none:"" }}" required >
		        <p class="help-text">{{ field.help_text }} </p>
            </div>
		</fieldset>
		{% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  &nbsp;<button type="reset" class="btn">Cancel</button>
            </div>
        </div>
	</form>

{% endblock %}