{% extends "base.html" %}

{% block content %}
    <h2>Companies</h2>
    <ul>
        {% for company in company_list %}
            <li><a href="{% url 'company_detail' company.id %}">{{ company.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if user.userprofile %}
        <button type="button"><a href="{% url 'add_company' %}">Add company</a></button>
    {% else %}
        <p>To create company you should get userprofile</p>
        <button type="button"><a href="{% url 'edit_user' user.id %}">Create userprofile</a></button>
    {% endif %}
{% endblock %}