{% extends "base.html" %}

{% block content %}
    {% if company %}
        <h1>Product groups.</h1>
        {% csrf_token %}

        <a class="btn btn-primary pull-right" href="{% url 'add_product_group' %}">Add New Product Group</a>
        <div id="productGroupsGrid" style="min-height: 250px;"></div>
        
    {% else %}
        <h3>You have not registered a company yet.</h3>
        <a href="{% url 'add_company' %}" class="btn btn-info tm_style_2">Create company</a>
    {% endif %}

{% endblock %}
{% block scripts %}
        <script>
            $(function() {
                $("#productGroupsGrid").jsGrid({
                    height: "100%",
                    width: "100%",
                    sorting: true,
                    paging: true,
                    autoload: true,
                    pageSize: 10,
                    pageButtonCount: 5,
                    filtering: true,
                    rowClick: function(args) {
                        return window.location.replace("/products/edit_group/"+args.item.id);
                    },
                    controller: {
                        loadData: function(filter) {
                            var d = $.Deferred();
                            $.ajax({
                                type: "GET",
                                url: "/products/list_group/",
                                data: filter
                            }).done(function(result) {
                                d.resolve($.map(result, function(item) {
                                    return $.extend(item.fields, { id: item.pk });
                                }));
                            });
                            return d.promise();
                        }
                    },
                    fields: [
                        { name: "name", type: "text", width: 150 },
                        { name: "category", type: "text", width: 150 },
                        { name: "parent", type: "text", width: 100 }
                    ]
                });
            });

        </script>
{% endblock %}
