{% extends "base.html" %}

{% block content %}
    {% if company %}
        <h2>Products of <strong>{{ company }}</strong> company.</h2>
        <ul>
            {% if product_list.count > 0 %}
                {% for product in product_list %}
                    <li>Name: {{ product.name }}
        		    <button type="button"><a href="{% url 'edit_product' product.id %}">Edit</a></button>
        		    <button type="button"><a href="{% url 'delete_product' product.id %}">Delete</a></button>
                    {% if product.productgroup_set.count > 0 %}
                        <p>Groups: 
                        <ul>
                            {% for group in product.productgroup_set.all %}
                                <li><a href="{% url 'product_group' group.id %}">{{ group }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </p>
                    </li>
                {% endfor %}
            {% else %}
                <h3>No products was added yet.</h3>
            {% endif %}
        </ul>
        <button type="button"><a href="{% url 'add_product' %}">Add Product</a></button>
        <button type="button"><a href="{% url 'add_product_group' %}">Add Product Group</a></button>
        <button type="button"><a href="{% url 'add_company' %}">Edit company</a></button>
    {% else %}
        <h3>You have not registered a company yet.</h3>
        <button type="button"><a href="{% url 'add_company' %}">Create company</a></button>
    {% endif %}

{% endblock %}