{% extends "base.html" %}
{% load extra_customers %}
{% block content %}

	{% if edit %}
		<h2 style="text-align:center">Edit client profile</h2>
	{% else %}
		<h2 style="text-align:center">Add client</h2>
	{% endif %}
	<form class="form-contact" action="" method="POST" style="margin-right:auto; margin-left:auto; width:70%">
		{% csrf_token %} 
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
		<!-- add custom css classes -->
		{% if field.errors %}
		    <fieldset class="form-group {% add_css_class 'has-error' %}" >
		    <ol>
		    {% for error in field.errors %}
		        <li><strong>{{ error|escape }}</strong></li>
		    {% endfor %}
		    </ol>
		{% elif field.value %}
		  <fieldset class="form-group {% add_css_class 'has-success' %}" >
		{% else %}
		  <fieldset class="form-group" >
		{% endif %}
		  
	<div class="col-md-3">
	  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}:
	  {% if not field.field.required %}
		 <span class="special_class">(optional)</span>
  	  {% endif %}
        {% for error in field.errors %}
            <strong>{{ error|escape }}</strong>
        {% endfor %}
	  </label>
        <p class="help-text">{{ field.help_text }}</p>
    </div>
    <div class="col-md-9">{{ field | addcss:'form-control' }}</div>
		        
		</fieldset>
        {% endfor %}
        <!-- button delete -->
        <div class="col-md-2 col-md-offset-7">
		{% if edit %}
		  <input type="button" id="customer_{{ object.id }}" class="btn tm_style_2" value="Delete Client" style="margin-right:auto;margin-left:auto">
		{% endif %}
        </div>

        <div class="col-md-2 col-md-offset-1">
		   <input type="submit" value="Submit"  class="btn btn-primary">
        </div>
	</form>
{% endblock %}
{% block scripts %}
{% if edit %}
	<script type="text/javascript">
	    $(function(){
			function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		$button = $('#customer_{{ object.id }}')
    	$button.click(function(){
	    	if (confirm("Are you sure you want to delete this client?") == true){
		    	$.ajax({
		    		type: 'POST',
		    		url: '/customers/delete/{{ object.id }}/',
		    		data: {
	    			'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
		    		},
		    		success: function(){
			    		window.location.href = '/customers/all/'
		    		} 
		    	});
		    }
	    });
    });
    </script>
{% endif %}
{% endblock %}