{% extends "base.html" %}
{% load extra_customers %}
{% block content %}
	<div class="header" style="text-align:center">
	{% if edit %}
		<h2>Edit client group</h2>
	{% else %}
		<h2>Add client group</h2>
	{% endif %}
		<h3>Company: <strong>{{ company }}</strong></h3>
		</div>
		<form class="form-contact" action="" method="POST" style="margin-right:auto; margin-left:auto; width:70%">
			{% csrf_token %} 
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{% if field.errors %}
				    <fieldset class="form-group {% add_css_class 'has-error' %}" >
				    <ol>
				    {% for error in field.errors %}
				        <li><strong>{{ error|escape }}</strong></li>
				    {% endfor %}
				    </ol>
				{% elif field.value %}
				  <fieldset class="form-group {% add_css_class 'has-success' %}" >
				{% else %}
				  <fieldset class="form-group" >
				{% endif %}

				  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}:
				  {% if field.field.required %}
					 <span class="special_class">*</span>
			  	  {% endif %}
				  </label>
						
					{{ field | addcss:'form-control' }}
			        <p class="help-text">{{ field.help_text }} </p>

				</fieldset>
			{% endfor %}
			   <input type="submit" value="Submit"  class="btn btn-primary">
		</form>

{% endblock %}