{% extends "base.html" %}

{% block content %}
    {% if company %}
        <h2>Clients of <strong>{{ company }}</strong> company.</h2>
        <ul>
            {% if customer_list.count > 0 %}
                {% for customer in customer_list %}
                    <li>Name: <a href="{% url 'customer_detail' customer.id %}">{{ customer.name }}</a>
        		    <button type="button"><a href="{% url 'edit_customer' customer.id %}">Edit</a></button>
        		    <button type="button"><a href="{% url 'delete_customer' customer.id %}">Delete</a></button>
                    <p>Company: {{ customer.company }}</p>
                    <p>Created: {{ customer.created }}</p>
                    <p>Contact: {{ customer.contact }}</p>
                    {% if customer.customergroup_set %}
                        {% for group in customer.customergroup_set.all %}
                            <p>Group: <a href="{% url 'get_group' group.id %}">{{ group }}</a></p>
                        {% endfor %}
                    {% endif %}
                    </li>
                
                {% endfor %}
            {% else %}
                <h3>No customers was added yet.</h3>
            {% endif %}
        </ul>
        <button type="button"><a href="{% url 'add_customer' %}">Add customer</a></button>
        <button type="button"><a href="{% url 'add_group' %}">Add client group</a></button>
        <button type="button"><a href="{% url 'add_company' %}">Edit company</a></button>
    {% else %}
        <h3>You have not registered a company yet.</h3>
        <button type="button"><a href="{% url 'add_company' %}">Create company</a></button>
    {% endif %}
{% endblock %}