{% extends "base.html" %}

{% block content %}
    {% if company %}
        <h2>Clients of <strong>{{ company }}</strong> company.</h2>
            {% csrf_token %}
            <div class="input-group">
                <input type="text" id="search_customers" class="form-control" placeholder="Input search text" aria-describedby="sizing-addon2">
            </div>
            <div class="dropdown">
                <ul id="search_customers_results" class="custom_dropdown">
                </ul>
            </div>
            {% if customer_list.count > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Created</th>
                            <th>Group(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for customer in customer_list %}
                        <tr>
                            <td>
                               <a href="{% url 'customer_detail' customer.id %}">{{ customer.name }}</a> 
                            </td>
                            <td>{{ customer.company }}</td>
                            <td>{{ customer.created }}</td>
                            <td>
                            {% if customer.customergroup_set %}
                        {% for group in customer.customergroup_set.all %}
                                <p><a href="{% url 'get_group' group.id %}">{{ group }}</a></p>
                            {% endfor %}
                        {% endif %}
                            </td>
                            <td>
                                <button type="button"><a href="{% url 'edit_customer' customer.id %}">Edit</a></button>
                            </td>
                            <td>
                                <button type="button"><a href="{% url 'delete_customer' customer.id %}">Delete</a></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                                    
            {% else %}
                <h3>No clients was added yet.</h3>
            {% endif %}
        </ul>
        <button type="button"><a href="{% url 'add_customer' %}">Add client</a></button>
        <button type="button"><a href="{% url 'add_group' %}">Add client group</a></button>
        <button type="button"><a href="{% url 'add_company' %}">Edit company</a></button>
    {% else %}
        <h3>You have not registered a company yet.</h3>
        <button type="button"><a href="{% url 'add_company' %}">Create company</a></button>
    {% endif %}
{% endblock %}