{% extends "base.html" %}

{% load extra_customers %}
{% block content %}
	<div class="header" style="text-align:center">
	<h2>Add or edit client group</h2>
		<h3>Company: <strong>{{ company }}</strong></h3>
		</div>
		<form class="form-contact" action="" method="POST" style="margin-right:auto; margin-left:auto; width:30%">
			{% csrf_token %} 
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
			{% if field.errors %}
			    <ol>
			    {% for error in field.errors %}
			        <li><strong>{{ error|escape }}</strong></li>
			    {% endfor %}
			    </ol>
			{% endif %}
			<fieldset class="form-group" >
			{% if field.field|fieldtype != 'ModelMultipleChoiceField' %}
			  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}:
			  {% if field.field.required %}
				 <span class="special_class">*</span>
		  	  {% endif %}
			  </label>
			      <input type="text" class="form-control"
			        name="{{ field.name }}"
			        id="id_{{ field.name }}"
			        value="{{ field.value|default_if_none:"" }}">
			        <p class="help-text">{{ field.help_text }} </p>
			{% else %}
				<strong>{{ field.label }}:
					{% if field.field.required %}
						<span class="special_class">*</span>
				  	{% endif %}
				</strong>
				{{ field }}
			{% endif %}
			</fieldset>
			{% endfor %}
			   <input type="submit" value="Submit"  class="btn btn-primary">
		</form>

{% endblock %}