{% load extra_products %}
	
{% if edit %}
<!-- Modal delete product group -->
{% include "products/product_groups/delete_product_group.html" %}
<!-- Form -->
<form id="update_product_group_form" class="form" action="{% url 'edit_product_group' object.id %}" method="POST">
{% else %}
<form id="update_product_group_form" class="form" action="{% url 'add_product_group' %}" method="POST">
{% endif %}
	<div class="modal-header">
        <button type="button" id="close_window" class="close btn_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% if not edit %}
            <h4 class="modal-title" id="addProductGroupModalLabel">Add a new product group</h4>
        {% else %}
            <h4 class="modal-title" id="addProductGroupModalLabel">Edit product group</h4>
        {% endif %}
    </div>
	<div class="modal-body">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.errors %}
              <fieldset class="form-group {% add_css_class 'has-error' %}" >
            {% elif field.value %}
              <fieldset class="form-group {% add_css_class 'has-success' %}" >
            {% else %}
              <fieldset class="form-group" >
            {% endif %}

              <label class="control-label" for="id_{{ field.name }}">{{ field.label }}:
              {% if not field.field.required %}
                 <span class="special_class">(optional)</span>
              {% endif %}
                {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
              </label>
                <p class="help-text">{{ field.help_text }}</p>
            <div class="col-md-9">{{ field | addcss:'form-control' }}</div>         
            </fieldset>
        {% endfor %}  
    </div>
    <div class="modal-footer">
    {% if edit %}
        <input type="submit" class="btn btn-primary btn_modal" value="Submit" />
    {% else %}
        <input type="submit" class="btn btn-primary" value="Submit" />
    {% endif %}
        <input type="button" class="btn btn-default btn_modal" data-dismiss="modal" value="Cancel" />
    </div>
</form>
{% if edit %}
<!-- Button trigger modal delete group -->
<div>
    <input type="button" id="product_group_delete" class="btn tm_style_2 btn_delete" value="Delete Product Group" data-toggle="modal" data-target="#modalDeleteProductGroup" style="margin:10px 245px">
</div>
{% endif %}

<!-- Scripts -->
{% block scripts %}
<script type="text/javascript">
$(function(){
    $('.btn_modal').click(function(){
        window.location.href = '/products/groups/';
    });
    var form_options = { 
        target: '#modalAddProductGroup .modal-content', 
        success: function() { } 
    };
    $('#update_product_group_form').ajaxForm(form_options);
});
</script>
{% if edit %}
    <script type="text/javascript">
    $(function(){
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		// Delete product group with ajax
        $del = $('#product_group_delete');
        $button = $('#product_group_{{ object.id }}');
        $del.click(function(){
            $('#modalAddProductGroup').on('hidden.bs.modal',function(){
                $('#modalDeleteProductGroup').modal('show');
            });
        });
    	$button.click(function(){
	    	$.ajax({
	    		type: 'POST',
	    		url: '/products/delete_group/{{ object.id }}/',
	    		data: {
    			'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
	    		},
	    		success: function(){
		    		window.location.href = '/products/groups/'
	    		} 
	    	});
	    });
    });
    </script>
{% endif %}
{% endblock %}