<!-- Modal delete-->
<div class="modal fade" id="modalDeleteGroup_cat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Group Category</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this category?
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="deleteGroup_cat" class="btn btn-primary">Yes, delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal add -->
<div class="modal fade" id="modalAddGroup_cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add category</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="control-label">Add new category:</label>
            <input type="text" class="form-control" id="message-text-group-cat" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="addGroup_cat" class="btn btn-primary">Yes, add</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal edit -->
<div class="modal fade" id="modalEditGroup_cat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit category</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-new-group-cat" class="control-label">Edit category:</label>
            <input type="text" class="form-control" id="message-new-group-cat" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="editGroup_cat" class="btn btn-primary">Yes, edit</button>
      </div>
    </div>
  </div>
</div>
