{% extends "base.html" %}
{% block content %}

{% include "products/product_groups/prod_group_cat_modals.html" %}

{% if prod_group_cat_list.count > 0 %}
    <h2>List of product group categories</h2>

    <ul class="list-group">
    {% for group_cat in prod_group_cat_list %}
        <form action="" class="form-inline" method="POST">{% csrf_token %}
            <li class="list-group-item"><b>{{ group_cat.name | upper }}</b>
                <!-- Button trigger modal delete-->
                <input type="button" data-id="{{ group_cat.id }}" class="btn btn-primary pull-right del-btn" style="margin:-7px 2px" value="Delete" data-toggle="modal" data-target="#modalDeleteGroup_cat"/>
                <!-- Button trigger modal edit-->
                <input type="button" data-id="{{ group_cat.id }}" data-name="{{ group_cat.name }}" class="btn btn-primary pull-right edit-btn" style="margin:-7px 2px" value="Edit" data-toggle="modal" data-target="#modalEditGroup_cat"/>
            </li>
        </form>
    {% endfor %}
    </ul>
{% else %}

    <h3>No groups was added yet</h3>

{% endif %}
    <form action="" method="POST">
    {% csrf_token %}
        <input type="button" class="btn btn-primary" value="Add New Group Category" data-toggle="modal" data-target="#modalAddGroup_cat"/>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        // Add new group category with ajax
        var refreshPage = function(){
            window.location.reload(true);
        }
        $add = $('#addGroup_cat');
        $add.click(function(){
            var name = $('#message-text-group-cat').val();
            $.ajax({
                type: 'POST',
                url: '/products/add_group_category/',
                data: {
                    'name': name,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json'
            });
            refreshPage();
        });
        // Delete any group_cat from list
        $del = $('.del-btn');
        $del.click(function(){
            var $id = $(this).attr('data-id');
            $('#deleteGroup_cat').click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/products/delete_group_category/'+$id+'/',
                    data: {
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                    }
                });
            refreshPage();
            })
        });
        // Edit any group category from list
        $edit = $('.edit-btn');
        $edit.click(function(){
            var $old_name = $(this).attr('data-name');
            var $id = $(this).attr('data-id');
            $('#message-new-group-cat').val($old_name);
            $('#editGroup_cat').click(function(){
                var name = $('#message-new-group-cat').val();
                $.ajax({
                type: 'POST',
                url: '/products/edit_group_category/'+ $id + '/',
                data: {
                    'name': name,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json'
            });
            refreshPage();
            })
        });
    });
    </script>

{% endblock %}