html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.form-signin{
    margin-top:25px;
}

.wrapper{
  min-height: 100%;
  position: relative;
}

.title-section, .title-section-main{
    margin-bottom: 40px;
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #7a62d3;
}

@media (min-width: 768px) {
    .title-section{
        padding-top:30px;
        padding-bottom: 30px;
        font-size: 24px;
        text-align: left
    }

    .title-section h1 {
        font-size: 60px;
        line-height: 1
    }
}

@media (min-width: 992px) {
    .title-section h1,.title-section p {
        margin-right:380px
    }
}

.navbar{
    margin-bottom: 0;
    border-bottom: 0;
}

.navbar-nav .glyphicon {
    margin-right: 10px;
}

.title-section-main {
    background-image: url("/static/images/wysely.jpg");
    background-position-x: 100%;
    background-position-y: 75%;
  padding: 300px 0;
}

footer{
    background-color: darkgray;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.full-content{
    padding-bottom: 100px;
}

#group-selection {
    padding-top: 10px;
    padding-bottom: 30px;
}

.form_button {
    width: 100px;
    margin: 10px;
    display:inline-block;
}

.gridster {
    border-style: solid;
    border-color: #000000;
    min-height: 30px;
}

.element {
    list-style: none;
}
.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}
