{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h2>{% trans "Templates" %}</h2>
    {% if company %}
        <a href="/invoices/templates/new" class="btn btn-primary">{% trans "New template" %}</a>
        <table id="templates-list" class="table table-hover">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}
                <th>{% trans "State" %}
                <th>{% trans "Company" %}</th>
                <th>{% trans "Options" %}</th>
            </tr>
            {% for template in templates %}
                <tr>
                    <td>{{template.title}}</td>
                    <td>{{template.description}}</td>
                    <td>{{template.active}}</td>
                    <td>{{template.company}}</td>
                    <td><a href="/invoices/templates/edit?id_template={{template.id}}">{% trans "Edit" %}</a> <a href="/invoices/templates/delete?id_template={{template.id}}">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>You have not registered a company yet.</h3>
        <a href="{% url 'add_company' %}" class="btn btn-primary">Create company</a>
    {% endif %}
</div>
{% endblock %}



{% block footer %}
    {% include "./footer.html" %}
{% endblock footer %}