{% extends "base.html" %}
{% block content %}

{% if currency_list.count > 0 %}
	<h2>List of currencies</h2>

    {% include "products/currencies/currency_modals.html" %}

    <!-- Form -->
	<ul class="list-group">
	{% for currency in currency_list %}
		<form action="" class="form-inline" method="POST">{% csrf_token %}
			<li class="list-group-item"><b>{{ currency.name | upper }}</b>
                <!-- Button trigger modal delete-->
		        <input type="button" data-id="{{ currency.id }}" class="btn btn-primary pull-right del-btn" style="margin:-7px 2px" value="Delete" data-toggle="modal" data-target="#modalDelete"/>
                <!-- Button trigger modal edit-->
                <input type="button" data-id="{{ currency.id }}" data-name="{{ currency.name }}" class="btn btn-primary pull-right edit-btn" style="margin:-7px 2px" value="Edit" data-toggle="modal" data-target="#modalEdit"/>
	        </li>
	    </form>
	{% endfor %}
	</ul>
{% else %}

	<h3>No currencies was added yet</h3>

{% endif %}
	<form action="" method="POST">
	{% csrf_token %}
        <!-- Button trigger modal add-->
	    <input type="button" class="btn btn-primary" value="Add New Currency" data-toggle="modal" data-target="#modalAdd"/>
	</form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        var refreshPage = function(){
        	window.location.reload(true);
        }
        // add new currency after click with ajax
        $add = $('#addCurrency');
        $add.click(function(){
            var name = $('#message-text').val();
            $.ajax({
                type: 'POST',
                url: '/products/add_currency/',
                data: {
                	'name': name,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json'
            });
            refreshPage();
        });
        // delete any currency from list
        $del = $('.del-btn');
        $del.click(function(){
	        var $id = $(this).attr('data-id');
            $('#deleteCurrency').click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/products/delete_currency/'+$id+'/',
                    data: {
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                    }
                });
                refreshPage();
            })
        });
        // edit any currency from list
        $edit = $('.edit-btn');
        $edit.click(function(){
            var $old_name = $(this).attr('data-name');
            var $id = $(this).attr('data-id');
            $('#message-new').val($old_name);
            $('#editCurrency').click(function(){
                var name = $('#message-new').val();
                $.ajax({
                type: 'POST',
                url: '/products/edit_currency/'+ $id + '/',
                data: {
                    'name': name,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json'
            });
            refreshPage();
            })
        });
    });
    </script>

{% endblock %}