<div class="modal-dialog modal-lg" style="display:none;"> 
    <div class="modal-content"> 
        <div class="modal-header">   
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
            <h4 class="modal-title" id="myModalLabel"></h4> 
        </div> 
        <div class="modal-body">
            <script> 
                setTimeout(function() { 
                    $('#modalAddClientType').modal('hide'); 
                }, 500); 
                $('body').on('hidden.bs.modal', '.modal', function () { 
                    $(this).removeData('bs.modal'); 
                });
                window.location.href = '/customers/client_types/'
        </script> 
        </div> 
        <div class="modal-footer"> </div> 
    </div><!-- /.modal-content --> 
</div><!-- /.modal-dialog -->
