{% load i18n %}
{% load url from future %}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            Wysely - the invoicing is real!
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width">
    <!-- Include CSS files -->
    {% include 'components/css_files.html' %}

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href='{% static "wysely/favicon.png" %}'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100' rel='stylesheet' type='text/css'>
    <meta name="description" content="">

    <!-- Include JavaScript files -->
    {% include 'components/js_files.html' %}
    
    {% block extra_js %} {% endblock %}
    
    {% block head %}
    {% endblock %}
</head>
<body>
<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <style type="text/css">
			#wrapper { height:100%; }
		</style>
    <![endif]-->
<div class="wrapper">
    <!-- Add your site or application content here -->
    <header class="navbar navbar-inverse navbar-static-top" >
        <div role="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Wysely</a>
            </div>

            <nav class="collapse navbar-collapse" id="js-navbar-collapse">
                {% include "navigation_menu.html" %}
            </nav>
        </div>
    </header>
<div class="full-content">
    {% block page-header %}
    {% endblock page-header %}
    <div class="content-block">
        <div class="container col-sm-offset-3 col-sm-6">
        {% block content %}
        {% endblock content %}
        </div>
    </div>
</div>
        {% block footer %}
        {% endblock %}
</div>
{% block scripts %}
{% endblock %}
</body>
</html>