{% load i18n %}

<ul class="nav navbar-nav">

    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>{% trans "Home" %}</a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-list-alt"></span>{% trans "Invoices" %}</a>
        </li>
        <li>
            <a href="/templates/"><span class="glyphicon glyphicon-tasks"></span>{% trans "Templates" %}</a>
        </li>
        <li>
            <a href="{% url 'customers' %}"><span class="glyphicon glyphicon-user"></span>{% trans "Clients" %}</a>
        </li>
        <li>
            <a href="{% url 'products' %}"><span class="glyphicon glyphicon-briefcase"></span>{% trans "Products" %}</a>
        </li>
        {% if user.company %}
        <li>
            <a href="{% url 'get_company' company.id %}"><span class="glyphicon glyphicon-thumbs-up"></span>{% trans "My Company" %}</a>
        </li>
            {% else %}
        <li>
            <a href="{% url 'add_company' %}"><span class="glyphicon glyphicon-thumbs-up"></span
                    >{% trans "My Company" %}</a>
        </li>
            {%  endif %}
    {% endif %}
</ul>

<ul class="nav navbar-nav navbar-right">

    {% if user.is_authenticated %}

        <li>
            <a class="dropdown  dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
                Settings
                </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
                </li>
                <li>
                {% if company %}
                    <a href="{% url 'edit_company' company.id %}">{% trans "Edit company information" %}</a>
                {% else %}
                    <a href="{% url 'add_company' %}">{% trans "Create company" %}</a>
                {% endif %}
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'auth_logout' %}">{% trans "Log  out: " %} {{ user.username }}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'auth_login' %}">{% trans "Log In" %}</a>
        </li>
        <li>
            <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
        </li>
    {% endif %}
</ul>

