{% extends "base.html" %}
{% block content %}

{% if unit_list.count > 0 %}
    <h2>List of units of measure</h2>

    {% include "products/units/unit_modals.html" %}

    <ul class="list-group">
    {% for unit in unit_list %}
        <form action="" class="form-inline" method="POST">{% csrf_token %}
            <li class="list-group-item"><b>{{ unit.name | upper }}</b>
                <!-- Button trigger modal delete-->
                <input type="button" data-id="{{ unit.id }}" class="btn btn-primary pull-right del-btn" style="margin:-7px 2px" value="Delete" data-toggle="modal" data-target="#modalDeleteUnit"/>
                <!-- Button trigger modal edit-->
                <input type="button" data-id="{{ unit.id }}" data-name="{{ unit.name }}" class="btn btn-primary pull-right edit-btn" style="margin:-7px 2px" value="Edit" data-toggle="modal" data-target="#modalEditUnit"/>
            </li>
        </form>
    {% endfor %}
    </ul>
{% else %}

    <h3>No units of neasure was added yet</h3>

{% endif %}
    <form action="" method="POST">
    {% csrf_token %}
        <input type="button" class="btn btn-primary" value="Add New Unit" data-toggle="modal" data-target="#modalAddUnit"/>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function(){
            function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        // add new unit after click with ajax
        var refreshPage = function(){
            window.location.reload(true);
        }
        $add = $('#addUnit');
        $add.click(function(){
            var name = $('#message-text-unit').val();
            $.ajax({
                type: 'POST',
                url: '/products/add_unit/',
                data: {
                    'name': name,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json'
            });
            refreshPage();
        });
        // delete any unit from list
        $del = $('.del-btn');
        $del.click(function(){
            var $id = $(this).attr('data-id');
            $('#deleteUnit').click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/products/delete_unit/'+$id+'/',
                    data: {
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                    }
                });
            refreshPage();
            })
        });
        // edit any unit from list
        $edit = $('.edit-btn');
        $edit.click(function(){
            var $old_name = $(this).attr('data-name');
            var $id = $(this).attr('data-id');
            $('#message-new-unit').val($old_name);
            $('#editUnit').click(function(){
                var name = $('#message-new-unit').val();
                $.ajax({
                type: 'POST',
                url: '/products/edit_unit/'+ $id + '/',
                data: {
                    'name': name,
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json'
            });
            refreshPage();
            })
        });
    });
    </script>

{% endblock %}