{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{%static 'css/custom-bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/gridster/dist/jquery.gridster.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/js-grid/dist/jsgrid.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/js-grid/dist/jsgrid-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/sortable_list.css' %}">