{% load staticfiles %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'wysely/site.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/gridster/dist/jquery.gridster.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/js-grid/dist/jsgrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/navbar_products.js' %}"></script>
<script type="text/javascript" src="{% static 'js/navbar_customers.js' %}"></script>